theme = iTerm2 Default

window-inherit-working-directory = true

# MacOs keybinding
## delete line
keybind = cmd+backspace=esc:w

## Jump keys
keybind = cmd+right=text:\x05
keybind = cmd+left=text:\x01
keybind = alt+left=esc:b
keybind = alt+right=esc:f

## Claude Code
### this is necessary for ClaudeCode potentially breaking other stuff https://github.com/anthropics/claude-code/issues/1282
keybind = shift+enter=text:\n
# https://github.com/anthropics/claude-code/issues/18157#issuecomment-3817303926
keybind = opt+backspace=text:\x1b\x7f

